
div.varbit-list-body {
  border-top: 1px solid black;
  overflow-y: scroll;
  height: 100%;
  padding-left: 5%;
}

ul {
  padding: 0;
}

div.varbit-checkbox {
  display: flex;
}

div.varbit-index {
  flex: 0 0 30%;
}

div.varbit-name {
  flex: 1;
}

li {
  list-style-type: none;
}

