
.varbit-list-panel {
	flex: 1 5 content;
  border: 1px;
  border-color: black;
  border-style: solid;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  height: 100%;
  max-width: 20%
}

.varbit-list-panel input {
		background-color: #c1d3fe;
}