
.varbit-list-body {
  border-top: 1px solid black;
  overflow-y: auto;
  height: 100%;
  padding-top: 2.5%;
  width: 100%;
}

ul {
  padding: 0;
  width: 100%;
}

.varbit-list-element {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 2.5%;
}

.varbit-list-element:hover {
  background-color: #c1d3fe;
}

.varbit-list-element-checkbox {
  flex: 0 0 0;
  margin: auto;
}

.varbit-ignore-list .varbit-list-element-checkbox {
  visibility: hidden;
}

.varbit-index {
  flex: 0 0 10%;
  display: inline;
  margin: auto;
  padding-left: 1%;
}

.varbit-name {
  flex: 0 1 70%;
  display: inline;
  margin: auto;
  padding-left: 15%;
}

.varbit-button-div {
  flex: 0 0 20%;
  display: flex;
  margin: auto;
}

.varbit-button {
  flex: 0 0 0;
  margin-left: auto;
}

li {
  list-style-type: none;
}

