
.varbit-list-header {
  padding-left: 5%;
  padding-bottom: 2.5%;
  padding-right: 2.5%;
  overflow: hidden;
}

.session-name {
	margin: 0;
	padding-top: 5%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.varbit-list-header input {
  background-color: #ADB5BD;
}

.varbit-list-header-session-input-button {
	padding-top: 2.5%;
	overflow: hidden;
	display: flex;
	flex-wrap: nowrap;
}

.session-input {
	flex: 1 1 0;
	width: 0%;
}

.varbit-list-header-session-input-button-button {
	flex: 0 0 auto;
	white-space: nowrap;
	text-align: center;
}

.varbit-list-header-session-input-button-button {
	margin-left: 2.5%;
}

.varbit-list-header-list-element {
	display: block;
}

.varbit-list-header-list-toggle {
	margin-top: 2.5%;
}

.varbit-list-header-order-list {
	padding-top: 2.5%;
}