div.varbit-list-panel {
  flex: 0 0 10%;
  border: 1px;
  border-color: black;
  border-style: solid;
}

div.varbitScrollBox {
  overflow-y: scroll;
}

ul {
  padding-left: 5%;
}

div.varbit-checkbox {
  display: flex;
}

div.varbit-index {
  flex: 0 0 30%;
}

div.varbit-name {
  flex: 1;
}

li {
  list-style-type: none;
}

