.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.container {
  display: flex;
}

div.varbitScrollBox {
  flex: 0 0 20%;
  overflow: auto;
  border: 1px;
  border-color: black;
  border-style: solid;
}

ul {
  padding-left: 5%;
}

div.varbit-checkbox {
  display: flex;
}

div.varbit-index {
  flex: 0 0 30%;
}

div.varbit-name {
  flex: 1;
}

li {
  list-style-type: none;
}

div.varbitTimeline {
  flex: 1;
}