.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body, div#root, div.container, div.varbitScrollBox, div.timeline-container {
  height: 100%;
}

div.container {
  display: flex;
  overflow: hidden;
}

div.varbitScrollBox {
  flex: 0 0 10%;
  overflow-y: scroll;
  border: 1px;
  border-color: black;
  border-style: solid;
}

ul {
  padding-left: 5%;
}

div.varbit-checkbox {
  display: flex;
}

div.varbit-index {
  flex: 0 0 30%;
}

div.varbit-name {
  flex: 1;
}

li {
  list-style-type: none;
}

div.timeline-container {
  flex: 1 0 0;
  overflow: auto;
}

div.timeline {
  margin-top: 5px;
}

div.timeline-header {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

div.timeline-header-button-removevarbit {
  margin-left: auto;
}

div.timeline-body {
  display: flex;
  overflow-x: scroll;
  width: 100%;
}

div.timeline-body-cell {
  flex: 0 0 150px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding-left: 10px;
}

div.timeline-body-cell-unknown {
  background-color: rgba(0, 0, 0, 0.7);
}

div.timeline-body-cell-unchanged {
  background-color: gray;
}

div.timeline-body-cell-changed {
  background-color: red;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}